<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand">Angular AUTH</a>
        <div>
            <h6>Hello, {{fullName}}, {{role}}</h6>
        </div>
    </div>
    <div><button class="btn btn-danger" (click)="logout()">Logout</button></div>
    <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>  -->
</nav>

<div class="container-fluid">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                </tr>
                <tr *ngFor="let row of Users">
                    <td>{{ row.id }}</td>
                    <td>{{ row.firstName }}</td>
                    <td>{{ row.lastName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>