<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <!-- <div class="card-body"> -->
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="loginForm.controls['username'].dirty &&  loginForm.hasError('required', 'username')">
                                    <span class="fa fa-user p-2"></span>
                                        <input type="text" id="username" formControlName="username" class="form-control"
                                            placeholder="Username" required>
                                </div>
                            </div>
                            <small class="text-danger"
                                *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">*Username
                                is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="loginForm.controls['password'].dirty &&  loginForm.hasError('required', 'password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" id="password" formControlName="password" class="form-control"
                                        placeholder="Password" required>
                                    <span (click)="togglePasswordVisibility()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small class="text-danger"
                                *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">*Password
                                is required</small>


                            <!-- <div class="mb-3 form-check">
                                <input type="checkbox" id="rememberMe" formControlName="rememberMe" class="form-check-input">
                                <label for="rememberMe" class="form-check-label">Remember Me</label>
                            </div> -->


                            <div class="form-inline fr mt-4">
                                <a id="forget" routerLink="/forgot-password" class="font-weight-bold">Forgot Password?</a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" 
                                (click)="onSubmit()">Login</button>
                            <div class="text-center pt-4 text-muted">
                                Don't have an account? <a id="forget" routerLink="/signup"> Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>